# Tarefa - Álgebra Linear

A célula abaixo gera dados de notas de duas provas, p1 e p2, conforme em aula, mas com mais alunos.

## 1. Reduzindo correlações

a) Já vimos que expressar os dados através da média e diferença é uma transformação linear. Obtenha a média e a diferença através de uma multiplicação matricial, conforme visto em aula.

b) Calcule a correlação entre os dados da **p1** e **p2**

c) Calcule a correlação entre os dados transformados (média e diferença)

d) Comente as correlações observadas.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Gerando os dados
np.random.seed(123)

p1 = np.random.random(50) *10
p1[p1>10] = 10
p1[p1<0] = 0

p2 = p1 + np.random.normal(0,1,50)
p2[p2>10] = 10
p2[p2<0] = 0

df = pd.DataFrame({'p1': p1, 'p2': p2})
df.head()

         p1        p2
0  6.964692  7.943428
1  2.861393  5.099537
2  2.268515  0.974429
3  5.513148  4.474359
4  7.194690  8.938402

In [6]:
# A

df['média'] = df.mean(axis=1)
df['diferença'] = df['p2']-df['p1']
df.head()

         p1        p2     média  diferença
0  6.964692  7.943428  5.295619   0.978736
1  2.861393  5.099537  3.399691   2.238143
2  2.268515  0.974429  0.649619  -1.294085
3  5.513148  4.474359  2.982906  -1.038788
4  7.194690  8.938402  5.958935   1.743712

In [7]:
# B

df[['p1', 'p2']].corr()

          p1        p2
p1  1.000000  0.895737
p2  0.895737  1.000000

In [8]:
# C

df[['média', 'diferença']].corr()

              média  diferença
média      1.000000   0.349666
diferença  0.349666   1.000000

In [13]:
# D

# Vemos que a correlação entre p1 e p2 é maior do que a correlação entre média e diferença, isto é porque a diferença representa
# uma operação de subtração, levando a valores que estão numa 'scala' diferente, enquanto é esperado que a média esteja dentro dos 
# possíveis para as notas, ou seja, espera-se que a correlação de média e p1/p2 seja maior, como pode ser visto abaixo:

df.corr()

                 p1        p2     média  diferença
p1         1.000000  0.895737  0.895737  -0.103312
p2         0.895737  1.000000  1.000000   0.349666
média      0.895737  1.000000  1.000000   0.349666
diferença -0.103312  0.349666  0.349666   1.000000

## 2. Soma e diferença

Realize agora uma transformação semelhante, mas que ao invés da média, dê a soma da **p1** e **p2**. Construa o gráfico e conclua que diferenças visuais você observa.