# Tarefa - Álgebra Linear

A célula abaixo gera dados de notas de duas provas, p1 e p2, conforme em aula, mas com mais alunos.

## 1. Reduzindo correlações

a) Já vimos que expressar os dados através da média e diferença é uma transformação linear. Obtenha a média e a diferença através de uma multiplicação matricial, conforme visto em aula.

b) Calcule a correlação entre os dados da **p1** e **p2**

c) Calcule a correlação entre os dados transformados (média e diferença)

d) Comente as correlações observadas.

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Gerando os dados
np.random.seed(123)

p1 = np.random.random(50) *10
p1[p1>10] = 10
p1[p1<0] = 0

p2 = p1 + np.random.normal(0,1,50)
p2[p2>10] = 10
p2[p2<0] = 0

df = pd.DataFrame({'p1': p1, 'p2': p2})
df.head()

         p1        p2
0  6.964692  7.943428
1  2.861393  5.099537
2  2.268515  0.974429
3  5.513148  4.474359
4  7.194690  8.938402

In [14]:
# A

df['média'] = df.mean()
df['diferença'] = df['p2']-df['p1']
df.head()

         p1        p2  média  diferença
0  6.964692  7.943428    NaN   0.978736
1  2.861393  5.099537    NaN   2.238143
2  2.268515  0.974429    NaN  -1.294085
3  5.513148  4.474359    NaN  -1.038788
4  7.194690  8.938402    NaN   1.743712

In [11]:
# B

df[['p1', 'p2']].corr()

          p1        p2
p1  1.000000  0.895737
p2  0.895737  1.000000

In [12]:
# C

df[['média', 'diferença']].corr()

              média  diferença
média      1.000000   0.345091
diferença  0.345091   1.000000

In [ ]:
# D

#

## 2. Soma e diferença

Realize agora uma transformação semelhante, mas que ao invés da média, dê a soma da **p1** e **p2**. Construa o gráfico e conclua que diferenças visuais você observa.